<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AD Setúbal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/site_igreja_core_mvc.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="~/css/noscript.css" />
    </noscript>
</head>
<body class="landing is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">AD Setúbal</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menuradio" class="menuToggleRadio"><span><i id="iconRadio" class="icon solid fa-play"></i> NA Rádio</span></a>
                        <!-- Radio -->
                        <div id="menuradio">
                            <h4 style="margin-left: 10px; width: 100%;">
                                NA Rádio
                            </h4>
                            <div id="media-player" style="visibility:visible;position: absolute; left: -50000px;">
                                <audio id="media-audio">
                                    <source src="https://ssl.evsportugal.net:8040/stream" type="audio/mpeg">
                                </audio>
                                <div id="media-controls"></div>
                            </div>
                            <div id="PlayingNow" class="item my-auto">
                                <div style="margin-left: 10px;">
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="FrameCover">
                                            <img class="coveralbum" src="https://www.naradio.pt/siteradiov2/images/noalbum.jpg " style="width: 100%;">
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px; width: 100%;">
                                        <div id="idtitlect" class="d-flex flex-row justify-content-center mt-1 ">
                                            <div id="tracktitle" class="tracktitle">Título Desconhecido</div>
                                        </div>
                                        <div id="idartistct" class="d-flex flex-row justify-content-center">
                                            <div id="trackartist" class="trackartist">Artista Desconhecido</div>
                                        </div>
                                        <div id="idalbumct" class="d-flex flex-row justify-content-center">
                                            <div id="trackalbum" class="trackalbum">Album Desconhecido</div>
                                        </div>
                                    </div>
                                    <div id="media-controls">
                                        <button id="play-pause-button" class="play" title="play" onclick="togglePlayPause();" style="width: 100%; margin-top: 10px;"><i class="icon solid fa-play"></i> play</button>
                                    </div>
                                </div>
                            </div>
                            <!--<div id="playerbar" class="d-flex flex-row justify-content-center">
                                <div id="media-controls">
                                    <button id="play-pause-button" class="play" title="play" onclick="togglePlayPause();">play</button>
                                </div>
                            </div>-->
                            <div id="trackdata" style="visibility:visible">
                                <span id="auxTitle" style="visibility:hidden"></span>
                                <span id="auxAlbum" style="visibility:hidden"></span>
                                <span id="auxArtist" style="visibility:hidden"></span>
                                <span id="statePlaying" style="visibility:hidden"></span>
                            </div>
                        </div>
                        <!-- Fim Radio -->
                    </li>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                                <li><a href="/Home#igrejas">Igrejas</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Contactos">Contactos</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        @if (Model)
        {
            <section id="banner">
                <!-- <div class="inner">
                    <h2>AD Setúbal</h2>
                    <p>
                        Assembleia de Deus Pentecostal de Setúbal<br />
                        e suas congregações<br />
                        Bem-vindo a casa<br />
                    <ul class="actions special">
                        <li><a href="#" class="button primary">Activate</a></li>
                    </ul>
                </div> -->
                <!--<img src="images/adsetubal.gif" alt="" />-->
                <!--<video id="bgVideo" preload="true" autoplay loop muted>
                    <source src="images/adsetubal.mp4" type="video/mp4" />
                </video>-->
                <div class="sp-section-background" data-type="video" data-video-source="file" data-video-id="~/images/adsetubal.mp4" data-style="" style="left: 0%;">
                    <video id="bgVideo" style="width: 100%;" playsinline="" webkit-playsinline="" allowfullscreen="false" autoplay="" muted="" loop="">
                        <source src="~/images/adsetubal.mp4" type="video/mp4">
                    </video>
                </div>
                <a href="#one" class="more scrolly">Veja Mais</a>
            </section>
        }

        @RenderBody()

        @* <div class="container">
            <main role="main" class="pb-3">
                
            </main>
        </div> *@
    </div>

    <!-- Footer -->
    <footer id="footer">
        <!-- <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul> -->
        <ul class="copyright">
            <li>
                &copy;
                <span id="copyright">
                    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                </span>
                AD Setúbal
            </li>
        </ul>
    </footer>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/myplayer.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
