@{
    ViewData["Title"] = "Home Page";
}

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>
                OS NOSSOS VALORES<br />
            </h2>
            <p>
                A AD Setúbal assenta em três valores fundamentais:<br />
            </p>
        </header>

        <p>
            <span class="icon solid fa-users major style1"><span class="label">Comunidade</span></span>
            <br />
            <div>
                <h5>Comunidade</h5>
                Somos uma comunidade de famílias <br />
                onde todos são bem-vindos.
            </div>
        </p>

        <p>
            <span class="icon solid fa-church major style1"><span class="label">Igreja</span></span>
            <br />
            <div>
                <h5>Igreja</h5>
                Somos todos uma igreja, a Noiva de Cristo.
            </div>
        </p>

        <p>
            <span class="icon solid fa-cross major style1"><span class="label">Cristo</span></span>
            <br />
            <div>
                <h5>Cristo</h5>
                Somos centrados em Cristo e defendemos a <br />
                exclusividade da salvação em Cristo.
            </div>
        </p>
    </div>
</section>

<div id="igrejas"></div>
<section id="one" class="wrapper style1 special" style="background-color: #2e3842; height: 115px;">
    <div class="inner">
        <header class="major" style="margin-top: -5%;">
            <h2 style="border-color: rgb(255, 255, 255);">
                nossas igrejas: DISTRITO DE SETÚBAL<br />
            </h2>
        </header>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3121.235884324228!2d-8.891132988040006!3d38.528330368277935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1943a91e4c20d1%3A0x73c871bc423aa3d2!2sR.%20Almeida%20Garrett%2049%2C%202900-212%20Set%C3%BAbal!5e0!3m2!1spt-PT!2spt!4v1698054220186!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                SETÚBAL - SEDE |
                <a href="https://www.facebook.com/adsetubal" class="icon brands fa-facebook-f"
                   target="_blank"><span class="label">Facebook</span></a>
                <a href="https://www.instagram.com/adsetubal/" class="icon brands fa-instagram"
                   target="_blank"><span class="label">Instagram</span></a>
                <a href="https://www.youtube.com/@@adsetubal" class="icon brands fa-youtube"
                   target="_blank"><span class="label">Youtube</span></a>
            </h2>
            <div>
                <strong>Domingo</strong><br />
                Culto Público: 16h00<br />
                Escola Dominical: 15h00
                <br />
                <br />
                <strong>4.ª Feira</strong><br />
                Oração: 10h00
                <br />
                <br />
                <strong>6.ª Feira</strong><br />
                Estudo Bíblico: 20h30
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.3602976851557!2d-9.078672588035182!3d38.66358696034767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd193643a983f96b%3A0x76b4e69cf37bf3c4!2sR.%20Dom%20Manuel%20de%20Melo%202%2C%202830-402%20Barreiro!5e0!3m2!1spt-PT!2spt!4v1698055376191!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                BARREIRO |
                <a href="https://www.facebook.com/ADPBarreiro/" class="icon brands fa-facebook-f"
                   target="_blank"><span class="label">Facebook</span></a>
                <!-- <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>Domingo</strong><br />
                Culto Público: 09h30<br />
                Escola Dominical: 11h30
                <br />
                <br />
                <strong>3.ª Feira</strong><br />
                Oração: 20h30
                <br />
                <br />
                <strong>5.ª Feira</strong><br />
                Estudo Bíblico: 20h30
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.641863554057!2d-8.913645353061963!3d38.63411926269704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1940ba5cb0c453%3A0xcd8c920ea5f4ea68!2sR.%20Jorge%20de%20Sena%207%2C%202955-177%20Pinhal%20Novo!5e0!3m2!1spt-PT!2spt!4v1698055498350!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                PINHAL NOVO |
                <a href="https://www.facebook.com/adpinhalnovo" class="icon brands fa-facebook-f"
                   target="_blank"><span class="label">Facebook</span></a>
                <!-- <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>Domingo</strong><br />
                Culto Público: 10h00<br />
                Escola Dominical: 11h30
                <br />
                <br />
                <strong>3.ª Feira</strong><br />
                Oração : 15h30
                <br />
                <br />
                <strong>5.ª Feira</strong><br />
                Estudo Bíblico: 20h30
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12462.807922097158!2d-9.001799716608017!3d38.65573232505244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19390bcb5c4813%3A0x3600df217632a187!2sAssembleia%20de%20Deus%20da%20Moita!5e0!3m2!1spt-PT!2spt!4v1698055705988!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                MOITA |
                <a href="https://www.facebook.com/admoita" class="icon brands fa-facebook-f"
                   target="_blank"><span class="label">Facebook</span></a>
                <!-- <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
                <a href="https://www.youtube.com/@@adsetubal" class="icon brands fa-youtube"
                   target="_blank"><span class="label">Youtube</span></a>
            </h2>
            <div>
                <strong>Domingo</strong><br />
                Culto Público: 10h00<br />
                Escola Dominical: 10h00
                <br />
                <br />
                <strong>3.ª Feira</strong><br />
                Estudo Bíblico: 20h30
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1559.7081411205552!2d-8.887241668933587!3d38.57026057931252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1941dd4e948c7f%3A0xcb38f0d05c941891!2sAssembleia%20de%20Deus%20de%20Set%C3%BAbal%20(AD%20Aires)!5e0!3m2!1spt-PT!2spt!4v1698919772075!5m2!1spt-PT!2spt"
                    style="border: 0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                AIRES
                <!-- <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>Sábado</strong><br />
                Culto Público: <br />
                16h00 (inverno)<br />
                17h00 (verão)
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1311.5538166047138!2d-8.903291970806563!3d38.57021500635898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19417c11eee021%3A0x15c5d3948764a4ca!2sAssembleia%20de%20Deus%20de%20Set%C3%BAbal%20(AD%20Palmela)!5e0!3m2!1spt-PT!2spt!4v1698919882063!5m2!1spt-PT!2spt"
                    style="border: 0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                PALMELA
                <!-- <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>Domingo</strong><br />
                Culto Público: 10h00
                <br />
                <br />
                <strong>4.ª Feira</strong><br />
                Estudo Bíblico: 20h30
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2201.6224090034793!2d-8.971825066088233!3d38.70485209671836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1939a1cb66a321%3A0xe48c9ad90703c11b!2sR.%20Bulh%C3%A3o%20Pato%2078%2C%202870-362%20Montijo!5e0!3m2!1spt-PT!2spt!4v1698055879423!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                MONTIJO |
                <a href="https://www.facebook.com/admontijo" class="icon brands fa-facebook-f"
                   target="_blank"><span class="label">Facebook</span></a>
                <!-- <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>Domingo</strong><br />
                Culto Público: 17h30
                <br />
                <br />
                <strong>4.ª Feira</strong><br />
                Estudo Bíblico: 20h30
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.3899117877136!2d-8.96461525462417!3d38.75476009770969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd193b4d90bcd013%3A0x58f2eb494adbbb91!2sAssembleia%20de%20Deus%20Set%C3%BAbal%20(AD%20Alcochete)!5e0!3m2!1spt-PT!2spt!4v1698920007272!5m2!1spt-PT!2spt"
                    style="border: 0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                ALCOCHETE
                <!-- <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>Domingo</strong><br />
                Culto Público: 16h00
                <br />
                <br />
                <strong>4.ª Feira</strong><br />
                Estudo Bíblico: 16h00
            </div>
        </div>
    </section>

    <!-- <section class="spotlight">
        <div class="image"><img src="images/pic03.jpg" alt="" /></div>
        <div class="content">
            <h2>Augue eleifend aliquet<br />
                sed condimentum</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla
                nullam aenean mi ligula.</p>
        </div>
    </section> -->
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special" style="padding: 6em 0 0em 0">
    <div class="inner">
        <header class="major" style="margin-top: -5%;">
            <h2 style="border-color: rgb(255, 255, 255);">
                ÁREA DE MISSÃO BEJA |
                <a href="https://www.facebook.com/ADMissaoBeja/" class="icon brands fa-facebook-f"
                   target="_blank"><span class="label">Facebook</span></a>
            </h2>
        </header>
    </div>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.1943404981766!2d-7.870465788058177!3d38.019248597921944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1a74837454930f%3A0x51fef176daee4f44!2sR.%20Camilo%20Castelo%20Branco%209%2C%207800-280%20Beja!5e0!3m2!1spt-PT!2spt!4v1698056712386!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                BEJA<br />
                <!-- <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>Domingo</strong><br />
                Culto Público: 15h00
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3134.8730740136853!2d-7.800737788051338!3d38.212843386686956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1a081057d20f73%3A0x77ba0e6f1dd699ac!2sR.%20da%20Boavista%206%2C%20Vidigueira!5e0!3m2!1spt-PT!2spt!4v1698056768234!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                VIDIGUEIRA<br />
                <!-- <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>Domingo</strong><br />
                Culto Público: 18h00
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.763199916175!2d-8.41458417568399!3d38.00598351049691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1a4a0deae93ceb%3A0xe1013c53ce9015e4!2sAv.%20Manuel%20Joaquim%20Pereira%2072%2C%207565-201%20Ermidas%20do%20Sado!5e0!3m2!1spt-PT!2spt!4v1698056829828!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                ERMIDAS-Sado<br />
                <!-- <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>Domingo</strong><br />
                Culto Público: 09h30
                <br />
                <br />
                <strong>5.ª Feira</strong><br />
                Oração: 13h30
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4449.930564507233!2d-8.39277680745532!3d37.94033286482431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1a4956fb5c222f%3A0x91be035762985b3f!2sR.%2031%20Maio%2018%2C%207565-021%20Alvalade!5e0!3m2!1spt-PT!2spt!4v1698056886642!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                ALVALADE<br />
                <!-- <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>4.ª Feira</strong><br />
                Culto Público: <br />
                19h30 (inverno)<br />
                20h30 (verão)
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3141.4542806898985!2d-8.117102706654395!3d38.059800248240435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1a156a53018bb1%3A0x134d4b43b2d80237!2sR.%20Mte.%20de%20Aviz%2020%2C%207900-665%20Ferreira%20do%20Alentejo!5e0!3m2!1spt-PT!2spt!4v1698056944988!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                FERREIRA DO ALENTEJO<br />
                <!-- <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>6.ª Feira</strong><br />
                Culto Público: 20h30
            </div>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <!-- <img src="images/pic01.jpg" alt="" /> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8897.093483434413!2d-8.085955909307094!3d37.963181563222555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1a6bd204d2d5e1%3A0xacdeb0e27315952d!2sRua%205%20de%20Outubro%208%2C%207600-207%20Ervidel!5e0!3m2!1spt-PT!2spt!4v1698146979154!5m2!1spt-PT!2spt"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="content" style="padding: 2em 4em 2em 4em;">
            <h2>
                ERVIDEL<br />
                <!-- <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a> -->
            </h2>
            <div>
                <strong>3.ª Feira</strong><br />
                Culto Público: 20h30
            </div>
        </div>
    </section>

    <!-- <div class="inner">
        <header class="major">
            <h2>Accumsan mus tortor nunc aliquet</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
                fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
        </header>
        <ul class="features">
            <li class="icon fa-paper-plane">
                <h3>Arcu accumsan</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                    Aenean ligula consequat consequat.</p>
            </li>
            <li class="icon solid fa-laptop">
                <h3>Ac Augue Eget</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                    Aenean ligula consequat consequat.</p>
            </li>
            <li class="icon solid fa-code">
                <h3>Mus Scelerisque</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                    Aenean ligula consequat consequat.</p>
            </li>
            <li class="icon solid fa-headphones-alt">
                <h3>Mauris Imperdiet</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                    Aenean ligula consequat consequat.</p>
            </li>
            <li class="icon fa-heart">
                <h3>Aenean Primis</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                    Aenean ligula consequat consequat.</p>
            </li>
            <li class="icon fa-flag">
                <h3>Tortor Ut</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                    Aenean ligula consequat consequat.</p>
            </li>
        </ul>
    </div> -->
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>alguma dúvida?</h2>
            <p>Leia nossa história ou nos mande uma mensagem.</p>
        </header>
        <ul class="actions stacked">
            <li><a href="#" class="button fit primary">Sobre Nós</a></li>
            <li><a href="#" class="button fit">Contacto</a></li>
        </ul>
    </div>
</section>